<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445303705925-6sh98frk7v49858seg60bn7u9t25srbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445303705925-6sh98frk7v49858seg60bn7u9t25srbl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445303705925-mlnjpvric7d0bia56e5i92biiaghnotu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCexxbjciqkvH0c9ae8-QzzIvhaBhwPdFk</string>
	<key>GCM_SENDER_ID</key>
	<string>445303705925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hatly.hatly-user</string>
	<key>PROJECT_ID</key>
	<string>hatly-100dc</string>
	<key>STORAGE_BUCKET</key>
	<string>hatly-100dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445303705925:ios:0d3653b4d1918bf504ee2c</string>
</dict>
</plist>