<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901080662696-1aqdtsham25g36gih3dt0onn61ubu4ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901080662696-1aqdtsham25g36gih3dt0onn61ubu4ig</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>901080662696-7qgqbee2mnis1r3vklf5qqi3abf59cs3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrQifk4i-M7AkpqxZbcaegHb57DvUDoCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>901080662696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hatly</string>
	<key>PROJECT_ID</key>
	<string>hatly-170e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hatly-170e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901080662696:ios:6fcb1a35f12c1cf180789d</string>
</dict>
</plist>